body { 
	border:0px;
	margin:0px;
	font-size: 22px;
	letter-spacing: 3px
	}

.header {
	font-family: 'BenchNine', sans-serif;
	padding-top: 40px;
	padding-bottom: 40px;
	background: white;
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: solid 1px #D6D7DC
	}

.txt {
	color: #534E68
	padding-top: 60px;
	}

.honor	{
	color: #8258B6;
	font-size: 22px;
	font-weight: bold;
	padding-top: 20px
	}

.gas {
	background: #F4F4F4;
	width: 100%;
	height: 500px;
	text-align: center;
	border-bottom: solid 1px #D6D7DC
	}


.morido {
	background: #DFECF5;
	width: 100%;
	height: 500px;
	text-align: center;
	border-bottom: solid 1px #D6D7DC
	}

.amor {
	background: #DFE0F4;
	width: 100%;
	height: 500px;
	text-align: center;
	border-bottom: solid 1px #D6D7DC
	}

.final {
	background: #DFE0F4;
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: solid 1px #D6D7DC
}